@font-face {
  font-family: jostFont;
  src: url(./Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: JosefinSansFont;
  src: url(./JosefinSans-Bold.ttf);
}

@font-face {
  font-family: JosefinSansLight;
  src: url(./JosefinSans-Regular.ttf);
}

@font-face {
  font-family: JosefinSansFontLight;
  src: url(./JosefinSans-Medium.ttf);
}

.navbar-brand {
  font-family: jostFont;
  padding-top: 10x;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase !important;
  font-size: 15px !important;
  font-weight: 500;
  background-color: white;
}

.navbar {
  height: 5.3em;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 0.6px 0px 0 rgba(0,0,0,.2);
}

.navbar.scrolled {
  background-color: green;
}

.btn-danger {
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.9em;
  background-color: #9f1b32;
  margin-right: 1em;
  height: 3.2em;
  width: 11em;
  border: 0;
  padding-top: 0.9em;
}

.img1 {
  width: 100%;
  height: 60%;
}

.logoImg {
  height: 4.6em;
  width: 4.6em !important;
  margin-left: 1.6em;
  margin-bottom: 0px !important;
}

.orderNow {
  height: 21.4em;
  color: white;
  width: 35.43em;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  position: absolute;
  top: 26%;
  left: 20%;
  padding: 20px;
}

.orderNowHead {
  font-family: JosefinSansFont, Sans-serif;
}

.EightShapes {
  position: relative;
  padding-top: 5em;
}

.orderNowPara {
  font-family: JosefinSansLight;
  padding-top: 0.5em;
  font-size: 1.3em;
}

.deliveroo {
  height: 10em !important;
  width: 10em !important;
  border: 2px solid black !important;
  border-radius: 0.3em;
  margin: 20px;
  position: relative;
  cursor: pointer;
}

.deliverooImg {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.ourStory {
  background-color: #f9f6f0;
  height: 40em;
}

.story {
  font-size: 3em;
  font-family: JosefinSansLight, Sans-serif;
  text-align: start;

}

.storyPara {
  font-family: jostFont, Sans-serif;
  font-size: 1.05em;
  text-align: start;
}

.ourStoryImg {
  height: 28em;

}

.food {
  font-family: jostFont, Sans-serif;
  font-size: 2.7em;
  padding-bottom: 0.8em;
  padding-top: 2em;

}
.cardOne{
  width:45.4em !important;
}

.carouselOne .react-multiple-carousel__arrow {
  display: block;
  font-size: 3em;
  border-radius: 0% !important;
}

.carouselOne .react-multi-carousel-item img {
  height: 14em;
  min-width: 14em;
  max-width: none;
}

.carouselOne .react-multiple-carousel__arrow--left {
  position: absolute;
  left: calc(0% + 0px) !important;
  top: 0px;
  background: rgba(0, 0, 0, 0.5) !important;
  height: 100%;
  width: 3.3%;
  color: white !important;
}

.carouselOne .react-multiple-carousel__arrow--right {
  position: absolute;
  right: calc(0% + 0px) !important;
  top: 0px;
  background: rgba(0, 0, 0, 0.7) !important;
  height: 100%;
  width: 3.3% !important;
  color: white !important;
}

#box-1 .owl-item img {
  padding-top: 0px !important;
}

.scrolledArrow1 {
  position: fixed;
  bottom: 2.5em;
  right: 4em;
  color: white;
  background: #9f1b32;
  height: 2em;
  width: 2em;
  text-align: center;
  z-index: 2;
  padding: 8px;
}

.scRol {
  background: #9f1b32;
  color: white;
  height: 2.4em;
  width: 2.4em;
  text-align: center;
  padding: 12px;
  border-radius: 0.2em;
  font-size: 1.1em;
  font-family: JosefinSansFontLight, Sans-serif;
  bottom: 1.7em;


}

.scrolledArrow2 {
  position: absolute;
  right: 6em;
}

.scrolledArrow3 {
  position: absolute;
  right: 8.8em;
}

.scrolledArrow:hover {
  cursor: pointer;
  background: #6c0440
}

.img-inlin {
  height: 1em !important;
  width: 1em !important;
  padding-right: 1.5px !important;
}

.img-star1 {
  display: flex;
  flex-direction: row;

}

.inlin {
  display: inline;
}

.all-inline {
  justify-content: center;
}

.Googleimg {
  height: 2.2em;
}

.excellent {
  margin-top: 0.39em;
  margin-bottom: -0.1em;
}


.img-star {
  display: flex;
  flex-direction: row;    
  position: absolute;
  top: 5em;
  left: 2em;
}

.inlin {
  display: inline;
}

.containr {
  height: 30em;
  background: gray;
}
.alice-carousel__stage img {
  margin-right: 3px; /* Adds a 10px margin to the right of each image */
}
.alice-carousel__prev-btn-item:hover, .alice-carousel__next-btn-item:hover {
  color: #000;
}
.box {
  height: 15em;
  width: 15em;
  background: #efefef;
  border-radius: 0.2em;
  position: relative;
  padding-top: 6em;
  padding-left: 1em;
  padding-right: 1em;
}
.alice-carousel__prev-btn [data-area]::after{
  content: attr(data-area);
  text-transform: capitalize;
  font-size: 2em;
  color: #dee1e6 !important;
  position: absolute !important;
  top: 83px;
  left: -42px;
}
.alice-carousel__next-btn [data-area]::after {
  content: attr(data-area);
  text-transform: capitalize;
  font-size: 2em;
  color: #dee1e6 !important;
  position: absolute !important;
  top: 83px !important;
  right: -35px !important;
}


.custImg {
  position: absolute;
  top: 0.9em;
  left: 0.7em;
  height: 2.6em !important;
  width: 2.6em !important;
}

.custName {
  position: absolute;
  font-size: 1.1em;
  top: 1.3em;
  left: 3.8em;
}

.custDatePost {
  position: absolute;
  top: 3.4em;
  left: 5.5em;
  color: #848484;
  font-size: 0.8em;

}

.gImg {
  position: absolute;
  top: 0.9em;
  right: 0.6em;
  height: 1.7em !important;
  width: 1.7em !important;
}

.customer-review {
  position: absolute;
  height: 4.8em;
  width: 91%;
  text-align: left;
  color: #2e312e;
  font-size: 0.9em;
  padding-top: 1em;
}


.gd-carousel-wrapper {
  position:relative;

}

.btnReadMore {
  border: none;
  cursor: pointer;
  color: #848484;
  position: absolute;
  bottom: 0px;
  font-size: 0.8em;
  position: absolute;
  bottom: 1.2em;

}

.btnReadMore:hover {
  text-decoration: underline;

}



.owl-carousel .react-multiple-carousel__arrow {
  position: absolute !important;
  z-index: 99999999 !important;

  background-color: none !important;
  display: block;
  font-size: 3.4em;
  color: #d7d7d7;
}
.owl-carousel{
  position: unset;
}
.owl-carousel button.react-multiple-carousel__arrow--left {
  left: -0.5em !important;
  top: 41.6%;
  overflow: hidden;
  border-radius: 100% !important;
  height: 30px;
  width: 30px;
}

.owl-carousel .react-multiple-carousel__arrow--right {
  top: 43%;
  right: 6.4% !important;
  border-radius: 100% !important;
  height: 30px;
  width: 30px;
  margin-right: -1em;
  overflow: visible !important;
  z-index: 9999999999999 !important;

}

.orderApps {
  height: 60em;
  width: 100%;
  background: #f9f6f0;
}

.customerReviewHeight {
  height: 25em;
}

.textOrder {
  font-size: 3em;
  padding-top: 3em;
  text-align: center;
  font-family: jostFont;

}

.faMarker p {
  margin-left: 2.7em;
  font-family: JosefinSansFontLight, Sans-serif;
  color: #0a0a09 !important;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1em;

}

.faMarker i {
  color: #9f1b32 !important;
  padding-right: 0.6em;

}

.faMarker p:hover {
  color: #9f1b32 !important;
  cursor: pointer;

}

.mapImg iframe {
  position: relative;
  height: 20em;
  width: 42em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0.6em solid white;
}

.imgAddress {
  height: 8em;
  width: 25em;
  background: white;
  position: absolute;
  top: 1.2em;
  left: 10em;
  font-size: 0.8em;
  padding: 0.4em;
  color: #858585;
}

.Address {
  font-size: 1.2em !important;
  font-weight: 600;
  color: black !important;
}

.dirImg {
  box-shadow: none !important;
}

/* .dirImg, */
.hov:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hov1 {
  padding-left: 2.9em;
}

.dirImg {
  position: absolute;
  top: 0em;
  left: 19.5em;
}

.footer {
  height: 6em;
  width: 120em;
  background-color: #000000;
  color: white;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.orderToEat {
  height: 7em;
  width: 8em;
}

.deliverooTwo{
  height: 13em;
  width: 80em;
}
.menuS{
  font-size: 3.2em;
  font-family: JosefinSansFontLight, Sans-serif;

}
.menuS p{
  font-family: JosefinSansFontLight, Sans-serif;

}
.deliverooTwo .deliveroo{
  height: 6em !important;
  width: 6em !important;
  margin: 0.6em;
  font-family: JosefinSansFontLight, Sans-serif;

}

/* ...
 */

 .capiccino{
  /* border: 2px solid black dotted; */
  border-style: dotted;
  padding: 0.5em;
  height: 2.7em !important;
  font-family: JosefinSansFontLight, Sans-serif;
  font-size: 1.2em;

 }
 
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #a82932 !important;
  background-color: white !important;
  font-family: JosefinSansFontLight, Sans-serif;
  font-size: 1.2em;

}
.nav-pills .nav-link{
  color: #000000;
}
.capiccinotwo{

  border-style: dotted;
  padding: 0.5em;
  height: 3.8em !important;
  font-family: JosefinSansFontLight, Sans-serif;
  font-size: 1.1em;


}
.capiccino p{
color: #920841;

}
.capiccinotwo p
{word-spacing: 0.5em;
color: #920841;
font-family: JosefinSansFontLight, Sans-serif;
font-size: 1em;
line-height: 0px !important;
padding-top: 10.4px !important;
}